body{
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Mukta', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Padauk', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
}
h1{
    font-size: 70px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.74);
}
h2{
    font-size: 45px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.74);
}
p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.navBar{
    margin: 0;
    padding: 0 0 5px;
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.247);
}
.navBar div{
    width: 40%;
    margin: 2px auto;
    margin: auto;
    text-align: center;
}
.navBar div ul{
    padding: 0;
    margin: 0;
}
.navBar ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}
.navBar ul li a{
    font-size: 25px;
    padding: 10px 0;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.781);
    display: inline-block;
}
#navFirstItem{
    color:#0285F6;
    border-bottom: 4px solid #0285F6;
}
.bigText{
    line-height: 1.4em;
    margin-bottom: 5%;
}
#topParagraph{
    width: 70%;
    padding-right: 30%;
}
.specialTextColor{
    color: #13B6FB;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-bottom: 25px; */
}
.bannerItem{
    width: 40%;
    margin: 0;
}
.bannerImg{
    width: 100%;
    margin-bottom: -5px;
    padding: 0;
    
}
.colorButton{
    display: inline-block;
    padding: 15px 45px;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#13B6FB,#0285F6);
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.404);
    /* background-color: #13B6FB; */
}
.midBanner{
    background-image: url(../images/shapes/Frame57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #0285F6; */
}
.midBannerImg{
    margin-bottom: -5px;
    padding-top: 10%;
    width: 70%;
}
.recipieFlex{
    display: flex;
    align-items: stretch;
}
#recipieBannerTitle{
    text-align: center;
    padding: 0 25%;
    margin-bottom: 2%;
}
.recipieBannerItem{
    /* width: 26%; */
    width: 24%;
    margin: 0 2%;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.247);
}
.recipieBannerItem img{
    width: 100%;
    border-radius: 30px;
    display: inline-block;
}
.recipieInnerSection{
    margin: 6% 6%;
}
.recipieInnerSection h2{
    margin-bottom: -15px;
}
.subsCountContent{
    /* width: 86%; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.247);
}
.subsCountItem{
    margin: 2% 10%;
}
.subsCountItem h1{
    margin-top: 0;
    margin-bottom: -10px;
}
.subsCountItem span{
    font-size: 20px;
}
.sectionSpacing{
    margin: 5% 0;
}
.subscribeSection{
    background-color: #13B6FB;
    text-align: center;
    padding: 3% 0;
}
.subscribeSectionItem{
    width: 35%;
    margin: auto;
}
.subscribeSectionItem div{
    margin: 2% 0;
}
.subscribeSectionItem h1{
    margin: 0;
    color: white;
}
.subscribeSectionItem p{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 18px;
    
}
.subscribeSectionItem input{
    width: 94%;
    font-size: 16px;
    padding: 3% 3%;
    border-radius: 60px;
    border-color: rgba(255, 255, 255, 0);
}
.subscribeSectionItem a{
    display: inline-block;
    width: 94%;
    font-size: 18px;
    font-weight: 700;
    padding: 3% 3%;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.918);
}
footer{
    text-align: center;
    color: white;
    background-color: rgba(19, 19, 19, 0.925);
    padding-top: 8px;
    padding-bottom: 10%;
}
#footerTitle-1{
    color: #13B6FB;
}
#footerTitle-2{
color: #0285F6;
}
#footerSubTitle{
    font-size: 18px;
}